/*Breakpoints
    960
    740
*/
@media only screen and (min-width: 740px) and (max-width: 980px) {
    .menu-container {
        max-width: 720px;
    }

    .sobre-container {
        max-width: 720px;
    }
    .sobre-item {
        width: 340px;
    }

    .produtos-container {
        max-width: 720px;
    }

    .produtos-item {
        width: 220px;
    }

    .locais {
        max-width: 720px;
    }
    
    .locais-item > div, .locais-item img {
        width: 340px;
    }

    .assine-container {
        max-width: 720px;
    }

    .assine-info, .assine form, .assine input {
        width: 340px;
    }

    .footer-container {
        max-width: 720px;
    }

}

@media only screen and (max-width: 739px) {
    .menu {
        text-align: center;    
    }

    .menu-logo {
        float: none;
        margin: 0 auto;
    }

    .menu-nav {
        float: none;
        clear: both;
    }

    .intro {
        padding: 40px 0;
    }

    .sobre-container {
        max-width: 300px;
    }

    .sobre-item {
        width: 280px;
    }

    .produtos-container {
        max-width: 300px;
    }

    .produtos-item {
        margin: 0 auto 20px auto;
    }

    .locais {
        max-width: 300px;
        text-align: center;
    }
    
    .locais-item > div, .locais-item img {
        width: 300px;
    }

    .assine-container {
        max-width: 300px;
        text-align: center;
    }

    .assine-info, .assine form, .assine input {
        width: 320px;
        margin: 10px 0;
    }

    .footer-container {
        max-width: 300px;
        text-align: center;
    }

    .footer img {
        float: none;
        margin: 20px auto;
    }

    .footer p {
        float: none;
        margin: 0px;
    }

}