/* Reset */
body, h1, h2, h3, p, ul {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #252525;
}

/* Menu */
.menu {
    background: #252525;
    padding: 20px 0;
}

.menu .menu-container {
    max-width: 960px;
    margin: 0 auto; /*ou margin left e right auto*/
}

.menu .menu-container::after, .menu .menu-container::before {
    content: '';
    display: table;
    clear: both;
}

.menu .menu-container .menu-logo {
    display: block;
    float: left;
    margin-left: 10px;
}
.menu .menu-container .menu-nav {
    float: right;
    margin-right: 10px;
}

.menu .menu-container .menu-nav li {
    display: inline-block;
}

.menu .menu-container .menu-nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 1.125em;
}

/* Intro */

.intro {
    background: url('../img/bg-intro.jpg') no-repeat center center;
    background-size: cover;
    padding: 150px 0;
    text-align: center;
    color: #fff;
}

.intro h1 {
    text-transform: uppercase;
    font-size: 3em;
}
.intro h1::after {
    content: '';
    display: block;
    width: 20px;
    height: 4px;
    background: #fff;
    margin: 10px auto;
}

.intro p {
    font-style: italic;
    font-size: 1.125em;
}

/* Sobre */

.sobre {
    padding: 60px 0;
}

.sobre .sobre-container {
    max-width: 960px;
    margin: 0 auto;
}

.sobre .sobre-container::after, .sobre .sobre-container::before {
    content: '';
    display: table;
    clear: both;
}

.sobre h2 {
    text-align: center;
    font-size: 2.25em;
    margin-bottom: 60px;
}

.sobre .sobre-container .sobre-item {
    width: 460px;
    float: left;
    margin: 0 10px;
}

.sobre .sobre-container .sobre-item img {
    display: block;
    max-width: 100%;
}

.sobre .sobre-container .sobre-item  h3 {
    position: relative;
    line-height: 1em;
    font-size: 2.25em;
    background: #252525;
    color: #fff;
    width: 220px;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    padding: 5px 0 10px 0;
    top: -25px;
}

.sobre > p {
    font-style: italic;
    font-size: 1.125em;
    line-height: 1.4em;
    text-align: center;
    margin: 20px auto;
    max-width: 460px;
}