@media only screen and (max-width: 739px) {
    .container {
        flex-direction: column;
        max-width: 300px;
    }

    .menu-logo {
        margin: 0px;
    }

    .menu-nav {
        margin: 0px;
    }

    .menu-nav ul li a {
        padding-left: 0px;
    }

    .intro {
        padding: 60px 0;
    }

    .sobre-item {
        margin-left: 0px;
        margin-right: 0px;
    }

    .produtos-item {
        margin-left: 0px;
        margin-right: 0px;
    }

    .locais-img, .locais-info {
        margin-left: 0px;
        margin-right: 0px;
    }

    .assine-info {
        margin: 0 0 40px 0;
    }

    .assine form {
        margin: 0px;
    }

    .footer-img, .footer p {
        margin: 10px 0px;
    }
}